<% @number.times do%>
    <h1 class='good-morning'>Boa Tarde, <%= @name%>, idade <%= @age%></h1>
<%  end %>
<%= link_to  "Venha Comer", food_now_path, class: "good-morning" %>
<a href="/comida">Venha Comer</a>

